# Created by https://www.toptal.com/developers/gitignore/api/eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse

### Eclipse ###
.classpath
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
target/
test-output/
test-results/
BrowserProfiles/

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target