<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.asp.listeners.ListenerClass" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="io.asp.testrunner.CucumberTestRunner" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
